#logo {
    width:300px;
}

/*----------------------------------------------------
VARIABLES
-----------------------------------------------------*/

:root {
    --radius: 5px;

    --sans-serif-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --serif-font: Georgia, 'Times New Roman', Times, serif;
}


/*----------------------------------------------------
MAIN LAYOUT
-----------------------------------------------------*/
/* universal box-sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    /* http://snook.ca/archives/html_and_css/font-size-with-rem */
    font-size: 62.5%;

    color: var(--black);
    font-family: var(--sans-serif-font);

    /* Have the scroll bars always on so there's not a shift in the layout
    when going from a non-scrolling page to a scrolling-page */
    overflow-y: scroll;
}


body {
    /* Default font-size */
    font-size: 1.6rem;
}


main {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    margin-top: 40px;
    padding-bottom: 20px;
    text-align: center;
}

header {
    text-align: center;
    margin-top: 20px;
    font-size: 2.75rem;
}

h2 {
    font-size: 2.75rem;
}



/*----------------------------------------------------
FORMS
-----------------------------------------------------*/

.form-control,
.btn {
    font-size: 1.4rem;
}

.btn {
    margin: 10px;
}

label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 5px;
}
